<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">
	<!-- JMS activeMq的配置 -->
	
	<!-- 1. 配置connectionFactory -->
	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL">
					<!-- JMS消息服务器的IP和端口号 -->
					<value>tcp://127.0.0.1:61616</value>
				</property>
			</bean>
		</property>
		<property name="maxConnections" value="100" />
		<!-- <property name="idleTimeout" value="60"/> -->
	</bean>
	<!-- 2.Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory">
			<ref local="jmsFactory" />
		</property>
		<property name="defaultDestinationName" value="queue_eSign_call_feeSys" />
		<!-- 区别它采用的模式为false是p2p, true是订阅 -->
		<property name="pubSubDomain" value="false" />
	</bean>
	<!-- 3.发送给自己系统的消息 -->
	<!-- <bean id="queue_eSign_to_feeSys" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="queue_eSign_to_feeSys" />
	</bean> -->
	<!-- 4.来自自己系统的消息 -->
	<bean id="queue_feeSys_to_eSign" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="queue_feeSys_to_eSign" />
	</bean>
	<!-- 5.消息发送者 -->
	<bean id="QueueSender" class="com.newtouch.lion.activemq.queue.QueueSender">
		<constructor-arg ref="queue_feeSys_to_eSign" />
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>
	<!-- 6.队列监听器 -->
	<bean id="QueueReceiverListener" class="com.newtouch.lion.activemq.queue.QueueReceiverListener">
	</bean>
	<!-- 7.队列监听器的容器 -->
	<bean id="QueueReceiverContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="concurrentConsumers" value="1" />
		<property name="connectionFactory" ref="jmsFactory" />
		<!-- 监听的队列 -->
		<property name="destinationName" value="queue_feeSys_to_eSign" />
		<property name="messageListener" ref="QueueReceiverListener" />
		<property name="pubSubNoLocal" value="false" />
	</bean>

</beans>
